 <%include header.ejs%>

 <!-- Services-->
 <section class="page-section" id="services">
  <div class="container">
    <h2> <%= __('Welcome To') %> <%= title %> </h2>

    <p>Nodepop es una Api que nos sirve un listado de anuncios de segunda manos para la compra o la venta de artículos.</p>
    <p>Esta montado sobre una Base de datos de MongoDB. La app nos permite crear anuncios, borrarlos y filtrarlos por varios criterios introducidos en la url.</p>

  </div>
 </section>

 <%include footer.ejs%>
